:root {
    --black: rgb(5, 5, 5, 1);
    --green: rgb(130, 173, 82, 1);
    --white: rgb(250, 250, 250, 1);
    --blue: rgb(103, 149, 158, 1);
    --red: rgb(185, 35, 27);
}

html {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Arial, Georgia, Times, 'Times New Roman', serif;
    background: var(--black)
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    width: 780px;
}

h1 {
    color: var(--green);
    font-size: 36px;
    text-align: right;
    width: 100%;
}

label,
p,
a,
li {
    font-size: 18px;
    color: var(--white);
}

a {
    text-underline-offset: 3px;
    color: var(--blue);
}

header {
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

code {
    background: rgb(103, 149, 158, .3);
    padding: 1px 5px;
    border-radius: 3px;
}

li {
    margin: 5px 0;
}

input[type="file" i] {
    width: 100%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 5px;
    margin: 10px 0;
}

input::file-selector-button {
    width: 50%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: var(--black);
    padding: 10px;
    border: none;
    border-radius: 3px 0 0 3px;
    background: var(--blue);
}

.label__email {
    text-decoration: underline;
}

input[type="password" i],
input[type="email" i] {
    margin: 15px auto;
    width: 90%;
    font-size: 20px;
}

input[type="submit" i] {
    font-family: Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    font-weight: bold;
    color: var(--black);
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: var(--blue);
    margin: 20px 0;
}

input::file-selector-button:hover,
input::file-selector-button:focus,
input[type="submit" i]:hover,
input[type="submit" i]:focus {
    background: rgb(103, 149, 158, .6);
    transition: all .3s;
}

input[type='radio'] {
    accent-color: var(--green);
}

.input-button {
    display: flex;
    justify-content: center;
}

.license,
.help {
    margin: 0 0 30px 0;
}

.license p,
.help p,
.help li,
.help a {
    font-size: 17px;
}

.help li {
    margin: 8px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding-bottom: 30px;
    flex-shrink: 0;
}

a:hover {
    text-underline-offset: 5px;
    color: var(--blue);
    transition: all .3s;
}

.flashes {
    list-style: none;
    border-radius: 5px;
    background: rgb(255, 255, 255, 1);
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 100px;
}

.flashes li {
    font-weight: bold;
    color: var(--red);
    padding: 10px 80px;
}

.a__new-account {
    text-align: center;
    font-size: 22px;
}

.a__forgot-login {
    text-align: right;
    font-size: 16px;
}

.user-status p {
    margin: 0;
    font-size: 14px;
    text-align: right;
}

.user-status span {
    color: var(--blue);
}