<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - demucsgui</title>
</head>
<header>
    <h1>demucs gui</h1>
</header>

<body>
    {% block body %}{% endblock %}
</body>
<footer>
    <a href="{{ url_for('upload_file') }}">New File</a>
    <a href="{{ url_for('_help') }}">Help</a>
    <a href="{{ url_for('_license') }}">License</a>
</footer>

</html>
