<form method=post enctype=multipart/form-data>

    <input type=file name=file required accept="audio/wav, audio/mp3"><br>
    <label class="label__email" for="email">Email files to:</label>
    <input type="email" id="email" name="email" required>
    {% include 'cmp-form-advanced.html' %}
    <div class="upload-button">
        <input type=submit value=Upload>
    </div>
</form>

<script src="{{ url_for('static', filename='upload.js') }}"></script>
<script src="{{ url_for('static', filename='drop-down.js') }}"></script>