<form method=post enctype=multipart/form-data>
    <label class="label__email" for="email">Enter email:</label>
    <input type="email" id="email" name="email" required>
    <label class="label__email" for="first-pass">Create password:</label>
    <input type="password" id="first-pass" name="first-pass" required>
    <label class="label__email" for="password">Confirm password:</label>
    <input type="password" id="password" name="password" pattern=".{6,}"
        title="6 characters or more" required>
    <input type=submit value=Submit>
</form>