{% extends 'base.html' %}
{% block title %}Help{% endblock %}

{% block body %}
<div class="help">
    <p>Thank you for using demucs gui.</p>
    <p>The program will split your track into "piano, bass, drums, and other" in 3-8 minutes, based on the length of the
        track, and email results to the email you enter. Use high quality uncompressed files.
        No user data is stored.
    </p>
    <hr>
    {% include 'cmp-help-filetype.html' %}
    <hr>
    {% include 'cmp-help-models.html' %}
    <hr>
    <p>For documentation regarding demucs itself, see <a href="https://github.com/facebookresearch/demucs"
            target="_blank">the git repo.</a>
    </p>
</div>
<script src="{{ url_for('static', filename='drop-down.js') }}"></script>
{% endblock %}
